<div class="back">
  <a href="/"><%= icon('fas', 'chevron-left') %></a>
</div>
<div class="center-view">
<div class="view">
<div class="container">

  <div class="card-show">
  <div class="progress">
    <div id=progressTrue class="progress-bar bg-success" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    <div id=progressFalse class="progress-bar bg-danger" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
   </div>


    <% @cards.each do |card| %>
  <div class="consigne hidden">
  Quelle est la composition d'un <%= card.name %> ?
  </div>
    <div class="flip-card hidden">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <div class="cocktail-card"
            style="background-image : linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),  url( <%= card.photo.present? ? card.photo : cl_image_path("vucs2ncsgrk6eo0iho2g") %>); background-size: cover; background-position-y: -286px;">
            <a><%= card.name %></a>
          </div>
        </div>
        <div class="flip-card-back"
          style="background-image : linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.9)),  url( <%= card.photo.present? ? card.photo : cl_image_path("vucs2ncsgrk6eo0iho2g") %>); background-size: cover;">
          <div class="title"
            style="background-image : linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)),  url( <%= card.photo.present? ? card.photo : cl_image_path("vucs2ncsgrk6eo0iho2g") %>); background-size: cover;">
            <img class="icon-title" src=<%= card.photo.present? ? card.photo : cl_image_path("vucs2ncsgrk6eo0iho2g") %>>
            <%= card.name %>
          </div>
          <div class="content">
            <% card.doses.each do |dose| %>
            <li>
              <%= dose.description %>
            </li>
            <%end %>
          </div>
          <div class="end">
            <%= link_to 'Voir le cocktail', cocktail_path(card), class: 'btn btn-primay' %>
          </div>
        </div>
      </div>
    </div>
    <%end%>
  </div>



    <%# <div class="answer">
      <input id=answer type="text">
    </div> %>


  <div class="text-center">
    <a class="btn center" id=show-card>Voir la reponse</a>
  </div>

   <div class="text-center">
    <a class="btn center" id=btn-next>Suivant</a>
  </div>

  <div class="text-center">
    <a class="btn center" id=yes>Je sais</a>
    <a class="btn center" id=no>Je sais pas</a>
  </div>



  <div class="result hidden"></div>





</div>
</div>

</div>
</div>
